<div class="panel panel-default" ng-if="results.length">
    <div class="panel-body">
        <span class="h4"><small>Next 3 hours forecast for </small>{{results[0].city.name}} ({{results[0].city.country}})</span>
        <hr />
        <div class="media" ng-repeat="result in results" ng-class="{'bg-info':selectedIndex === $index}" style="padding: 10px;">
            <div class="media-left text-center">
                {{result.dt * 1000 | date:'HH:mm'}}
                <img ng-src="http://openweathermap.org/img/w/{{result.weather[0].icon}}.png">
            </div>
            <div class="media-body">
                <div class="pull-right">
                    <a href="" class="btn btn-sm btn-default btc-clickLink" ng-click="select($index)">Read More...</a>
                </div>
                <h5 class="media-heading">{{result.weather[0].description}} </h5>
                <span>{{result.main.temp}}°C  {{result.main.humidity}}%</span>
            </div>
            <hr style="margin:0;" ng-show="!$last" />
        </div>
    </div>
</div>
<div class="panel panel-default" ng-if="!results.length">
    <div class="panel-body">
        <div class="alert alert-warning">Location not found</div>
    </div>
</div>